.App {
  text-align: center;
}
nav > ul{
  display: flex;
  background-color: burlywood;
}

nav > ul > li{
  list-style: none;
  padding: 10px;
  color: blue;
} 
nav > ul > li:hover{
  color: black;
}